<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chapter 102 Home</title>
    <!-- Bootstrap -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
  <link rel="icon" href="images/favicon.ico" type="image/ico"/>

  </head>



  <body>




<div class="container">
  
  <div class="row">
    <div class="col-md-4">
      <div id="highlight">
    <!-- Sidebar -->
    </div>
    </div>
    
    <!-- Container for the two stacked short elements -->
    <div class="col-md-6">
      <div class="row">
        <!-- First short element -->
        <div class="col-12 mb-3">
          <div >
            <!-- Main Content -->
          </div>
        </div>
        </div>
      </div>



    </div>
  </div>
</div>



  <footer class='footer'>
    <p>&#169;2026 Oregon School Employees Association, Chapter 102</p> 
  </footer>

	<script src="js/bootstrap.js"></script>
</html>
</body>

